<div>
	<h2>Create a new Script</h2>
	<form role="form" ng-submit="createScript(name)">
		<div>
			<input type="text" ng-model="name" placeholder="Script Name">
		</div>
		<div>
			<input class="btn" type="Submit" value="Create Script">
		</div>
	</form>
</div>

<hr>
Or
<hr>
<div>
 <h2>Import your own script to Line Please</h2>
	<p>You can upload your own PDF or word file to line please and we will try and convert it to a line please script.</p>

	<p>Please note:</p>
	<ul>
		<li>Scripts are limited to 25 pages</li>
		<li>Conversions can take a long time (sometimes longer then 30 minutes)</li>
		<li>The converter prefers it if your characters start with capital letters (ie/ MATT)</li>
	</ul>

	<form role="form" ng-submit="importScript(name)">
		<div>
			<input type="text" ng-model="name" placeholder="Script Name">
		</div>
		<div>
			<input type="file" name="fileselect" id="upload" fileread="upload">
		</div>
		<div>
			<input class="btn" type="Submit" value="Import Script">
		</div>
	</form>
		
</div>