<div>
	<table cellpadding="0" cellspacing="0">
	 <tbody ui-sortable="sortableOptions" ng-model="lines">
	  <tr ng-repeat="line in lines" id="{{line.id}}">
	   <td>
	   	{{line.get('character')}}
	   	<p>{{line.get('line')}}</p>
	   </td>
	   <td class="edit">
	   Edit
	   </td>
	   <td class="delete" ng-really-message="Are you sure you want to delete this line?" ng-really-click="removeLine(line)">
	   	Delete
	   </td>
	  </tr>
	 </tbody>
	</table>
</div>

<div>
	<h2>Add a Line</h2>
	<form role="form" ng-submit="createLine(character, linetext, gender)">
		<div>
			<input type="text" ng-model="character" placeholder="Character" ui-autocomplete="autocompleteOptions">
		</div>
		<div>
			<input type="text" ng-model="linetext" placeholder="Line">
		</div>
		<div>
			<input id="female" ng-model="gender" type="radio" name="gender" value="female" class="css-checkbox">
			<label for="female" class="css-label">Female</label>
			<input id="male" ng-model="gender" type="radio" name="gender" value="male" class="css-checkbox">
			<label for="male" class="css-label">Male</label>
		</div>
		<div>
			<input class="btn" type="Submit" value="Create Line">
		</div>
	</form>
</div>