<div>
	<img src="images/logo.png"/>
</div>

<div>
	<a ng-click="fbLogin()" class="btn btn-facebook">Sign in with <strong>Facebook</strong></a>
</div>

<div>
	<a ui-sref="login" class="btn">Sign in with <strong>Email</strong></a>
</div>

<div>
	<a ui-sref="users_new">Not a member? Sign up here</a>
</div>

<div>Line please is an easy to use tool to help actors learn their lines. Todo: Put more of a blurb here!</div>

<div>
	<a href="http://itunes.apple.com/us/app/line-please/id471665690?ls=1&mt=8"><img src="images/appStore.png" alt="Download on the App Store"/></a>
	<a href="https://market.android.com/details?id=com.mattvv.lineplease"><img src="images/playStore.png" alt="Download on the Play Store" height="40"/></a>
</div>